* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-weight: 800;
    font-size: 60px;
}

.botoes {
    margin-top: 20px;
}

.botao {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.botao:hover {
    text-transform: uppercase;
    transform: scale(1.1);
    background: black;
    color: white;
    cursor: pointer;
}